.pname{
    background: white;
    border: 2px solid lightgrey;
    border-radius: 8px; 
    width: 220px;
    height: 40px;
}
.psw{
    background: white;
    border: 2px solid lightgrey;
    border-radius: 8px; 
    width: 220px;
    height: 40px;
}