@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
*{
    font-family: 'Roboto Slab', serif;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
.container{
    display: flex;
    
}
.pic{
    max-height: 280px;
}
.insta{
    max-height: 50px;
    display:block;
    cursor: pointer;
}
.insta{
    transform: scale(1);
    transition: 00.3s ease-in-out;
}
.insta:hover{
    transform: scale(0.5);

}
.facb{
    max-height: 50px;
    display:block;
    cursor: pointer;
}
.facb{
    transform: scale(1);
    transition: 00.3s ease-in-out;
}
.facb:hover{
    transform: scale(0.5);
}
.submit{
    width: 70px;
    height: 30px;
    border: none;
    color: black;
    background-color: #FF8E8E ;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 #FF8E8E  ;
    transition: ease-out 0.3s;
    outline: none;
}
.submit:hover {
    box-shadow: inset 0 0 0 0 #FF8E8E   ;
    cursor: pointer;
    color: whitesmoke;
}
.submit1{
    width: 70px;
    height: 30px;
    border: none;
    color: black;
    background-color: #FFFFFF  ;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 #FF8E8E  ;
    transition: ease-out 0.3s;
    outline: none;
}
.submit1:hover {
    box-shadow: inset 0 0 0 0 #FF8E8E   ;
    cursor: pointer;
    color: lightblue;
}
.submit2{
    width: 70px;
    height: 30px;
    border: none;
    color: black;
    background-color: #FFFFFF  ;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 #FF8E8E  ;
    transition: ease-out 0.3s;
    outline: none;
}
.submit2:hover {
    box-shadow: inset 0 0 0 0 #FF8E8E   ;
    cursor: pointer;
    color: red;
}
.bar input{
    background: transparent;
    border: 2px solid lightgrey;
    border-radius: 8px;
    outline: none;
    height: 32px;
    width: 190px;
}


