@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
*{
    font-family: 'poppins',sans-serif ;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.header {
    background-color: transparent;
    color: #000000;
    padding: 1px;
}
#welcome{
    text-align: center;
}
.navbar {
    background-color:transparent;
    padding: 1px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}
nav a {
    color: #000000;
    padding: 10px;
    font-size: 20px;
    text-decoration:none;
    text-transform: uppercase;
    margin: 10px;
}
a.active,a:hover{
    transition: .5s;
    cursor: pointer;
    color: rgb(255, 0, 0);
}
section {
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
}
section img {
    max-width: 50%;
    height: auto;
    margin-right: 20px;
}
footer {
    background-color: #40d6bd;
    color: #fff;
    padding: 40px;
    text-align: center;
}
#time {
    top: 0;
    right:0;
    padding: 5px;
    background-color: transparent;
    color:black;
    font-size: 13px;
    text-align: right;
}
.container{
    width: 100%;
    height: auto;
    background: #000000;
    color: #ffffff;
    padding: 45px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px aquamarine;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}
.txt{
    background: white;
    border: 2px solid lightgrey;
    border-radius: 8px; 
    width: 401px;
    height: 30px;
}
textarea{
    background: white;
    border: 2px solid lightgrey;
    border-radius: 8px; 
    width: 450px;
    height: 100px;
}
.send{
    width: 70px;
    height: 30px;
    border: none;
    color: black;
    background-color: white ;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 #d7ff8e  ;
    transition: ease-out 0.3s;
    outline: none;
}
.send:hover {
    box-shadow: inset 20px 15px 15px 15px #7cdcff   ;
    cursor: pointer;
    color: gold;
}
.icon{
        max-height: 80px;
        display:block;
        cursor: pointer;
    }
    .icon{
        transform: scale(1);
        transition: 00.3s ease-in-out;
    }
    .icon:hover{
        transform: scale(0.5);
}
.email{
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .navbar {
        flex-direction: column;
    }
    nav a {
        margin: 5px;
    }
    section {
        flex-direction: column;
    }
    section img {
        margin-right: 0;
        margin-bottom: 20px;
    }
    #time {
        top: auto;
        bottom: 0;
        right: 0;
    }
    .container{
        top: auto;
        bottom: 0;
        right: 0;
    }
}
