@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
*{
    font-family: 'Roboto Slab', serif;
}
.submit{
    width: 70px;
    height: 30px;
    border: none;
    color: black;
    background-color: #FF8E8E ;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 #FF8E8E  ;
    transition: ease-out 0.3s;
    outline: none;
}
.submit:hover {
    box-shadow: inset 0 0 0 0 #FF8E8E   ;
    cursor: pointer;
    color: whitesmoke;
}
.submit1{
    width: 70px;
    height: 30px;
    border: none;
    color: black;
    background-color: #FFFFFF  ;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 #FF8E8E  ;
    transition: ease-out 0.3s;
    outline: none;
}
.submit1:hover {
    box-shadow: inset 0 0 0 0 #FF8E8E   ;
    cursor: pointer;
    color: gold;
}
.submit2{
    width: 70px;
    height: 30px;
    border: none;
    color: black;
    background-color: #FFFFFF  ;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 #FF8E8E  ;
    transition: ease-out 0.3s;
    outline: none;
}
.submit2:hover {
    box-shadow: inset 0 0 0 0 #FF8E8E   ;
    cursor: pointer;
    color: red;
}